html {
    box-sizing: border-box;
}

body {
    background: #85a5d4;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.main--pricing {
    background: white;
    border-radius: 6px;
    box-shadow: 0px 10px 40px #0000002e, 0px 5px 20px #0000002e;
    align-self: center;
    margin: 0px auto;
    min-width: 315px;
    max-width: 70vw;
    grid-gap: 10px;
    padding: 20px;
    margin-top: 10vw;
    margin-bottom: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
  }

.article {
    text-align: center;
    display: grid;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 1s ease;
    min-height: 250px;
    grid-template-rows: 1.1fr auto 0.8fr 0.5fr;
    border-radius: 4px;
    padding-top: 20px;
}

.article:hover {
    background-color: #f3f3f3;
}

img {
    height: 66px;
    width: 118px;
}

span {
    color: #566ed5;
}

.bold {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.money {
    font-size: 30px;
    letter-spacing: -2px;
}

p {
    color: #a8a3a0;
    font-size: 14px;
    max-width: 216px;
}

sup {
    color: #566ed5;
    vertical-align: top;
    top: 4px;
    position: relative;
}

sub {
    color: #566ed5;
    vertical-align: baseline;
}

.article .mobile img {
    margin-top: 4px;
}
