body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  font-size: 16px;
  font-family: "Prompt", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;

  background: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000010;
}

.div--flight-container {
  display: grid;
  height: 440px;
  width: 400px;
  padding: 60px 40px 20px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr repeat(4, 1fr);

  background: white;
  border-radius: 8px;
}

.qr-code {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: end;
}

.div--flight {
  display: flex;
  flex-direction: column;
}

.flight--details span:first-child {

  color: #aaaaaa;
  font-size: 0.75em;
  text-transform: uppercase;
}

.flight--heading {

  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-size: 4em;
  line-height: 1em;
  color: #3b8acf;
}

.flight--heading span:last-child {

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #aaaaaa;
  font-size: 1rem;
  line-height: 1em;
  text-transform: uppercase;
}

.div--flight-container:nth-child(3) {
  background: red;
}

.flight--seperator {

  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-size: 2em;
  color: #d3e6f4;
  text-align: center;
  padding-top: 16px;
}